<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
<!-- load properites file -->
    <context:property-placeholder location="classpath:application.properties"/>
    <!-- databaseBean    -->
    <bean id="databaseOperationsBean" class="config.DatabaseOperation">
        <property name="url" value="${database.url}"/>
        <property name="username" value="${database.username}"/>
        <property name="password" value="${database.password}"/>
    </bean>
<bean id="planeBean" class="com.DI.Plane">
    <constructor-arg ref="databaseOperationsBean"/>
</bean>
    <bean id="carBean" class="com.DI.Car">
        <property name="databaseOperation" ref="databaseOperationsBean"/>
    </bean>
</beans>





