.error {
    color: red;
}


 body {
            font-family: Arial, sans-serif;

        }

        h1 {
            color: #343a40;
            text-align: center;
            margin-top: 20px;
        }

        .searchDiv {
           padding:20px;


        }

        .searchDiv input[type="text"] {
                 width: 300px;
                 padding: 8px;
                 margin:4px;
                 border-radius: 5px;
                 border: 1px solid #ced4da;
             }

        .tbl-div {
            margin: 0 auto;
            width: 80%;
        }

        .table {
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .table th, .table td {
            vertical-align: middle !important;
        }

        .btn {
            padding: 8px 16px;
            border-radius: 5px;
            cursor: pointer;
        }

        .btn-primary {
            background-color: #007bff;
            border: none;
            color: #fff;
        }

        .btn-primary:hover {
            background-color: #0056b3;
        }

        .btn-warning {
            background-color: #ffc107;
            border: none;
            color: #212529;
        }

        .btn-warning:hover {
            background-color: #e0a800;
        }

        .btn-danger {
            background-color: #dc3545;
            border: none;
            color: #fff;
        }

        .btn-danger:hover {
            background-color: #bd2130;
        }

        .btn-success {
            background-color: #28a745;
            border: none;
            color: #fff;
        }

        .btn-success:hover {
            background-color: #218838;
        }

.tbl-div {
    position: absolute;
    top: 70%;
    left: 35%;
    transform: translate(-30%, -30%);
}

.test
{
    color: #20c997;
}